@font-face {
  font-family: "black";
  font-style: normal;
  src: url(../font/NotoSansKR-Black.ttf) format('truetype');
}

@font-face {
  font-family: "Regular";
  font-style: normal;
  src: url(../font/NotoSansKR-Regular.ttf) format('truetype');
}


body{
  background-color: #fff;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  font-family: "black";
}

input, button, select, textarea{
  font-family: "rehular";
}