<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask App</title>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">-->
</head>
<body> 
  <a href="./id">id-class</a>

  abc
  <div style="width: 300px; background: yellow;margin-top: 50px;margin-left: 50px;padding-left: 20px;box-sizing: border-box;border: 1px solid black;">
    <div style="width: 60px; height: 60px; background: red;"> </div>
    <div style="width: 100px; height: 80px; background: blue;"> </div>
  </div>


  <div style="width: 300px;height: 200px;border: 1px solid black;margin-top: 10px;">
    <div style="background: blue;color: white;">div1</div>
    <div style="background: blue;color: white;">div2</div>
  
    <span style="background: red;color: white;display: block;">span 1</span>
    <span style="background: red;color: white;display: block;">span 2</span>
  </div>


  <header></header>
  <main></main>
  <footer></footer>
  <nav></nav>
  <section></section>
  <aside></aside>
  <article></article>

  <img style="width: 200px;height: 200px;object-fit: cover;border-radius: 50%;" src="https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/5f9c58c2017800001.png">

  <br/>

  <input type="text" placeholder="아이디.." value="good"/>
  <input type="password"/>
  <input type="number"/>
  <input type="date"/>
  <input type="file"/>


  <br>

  <input type="radio" name="level" value="1"/>
  <span>상</span>

  <input type="radio" name="level" value="2"/>
  <span>중</span>

  <input type="radio" name="level" value="3"/>
  <span>하</span>

  <br>

  <select>
    <option value="1">상</option>
    <option value="1">중</option>
    <option value="1">하</option>
  </select>


  <br>

  <input type="checkbox" value="1"/>
  <span>상</span>

  <input type="checkbox"  value="2"/>
  <span>중</span>

  <input type="checkbox" value="3"/>
  <span>하</span>


  <br>


  <textarea style="width: 300px;height: 200px;resize: none;padding: 4px;font-size: 20px;font-weight: 700;">안녕</textarea><!--엔터 들어감 노엔터 ㄱ-->


  <button>회원가입</button>

  <a href="https:///www.naver.com">네이버이동</a>
  <br>
  <a href="./login">로그인이동</a>
</body>
</html>